{% extends 'base.html' %}
{% load static %}

{% block page_styles %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <h1 class="h2 mb-4">Admin Dashboard</h1>
  <p class="mb-4">Welcome, <span class="fw-bold">{{ user.username }}</span>!</p>

  <div class="card users-container">
    <div class="card-header">
      <h5 class="card-title mb-0">Users</h5>
    </div>
    <div class="card-body">
      <div class="user-grid">
        {% for data in users_data %}
        <a href="{% url 'user_login_history' data.user_info.id %}" class="user-card-link">
          <div class="user-card">
            <div class="chart-container">
              <canvas 
                class="user-pie-chart"
                id="userPieChart_{{ data.user_info.id }}"
                data-labels='{{ data.chart_labels|safe }}'
                data-data='{{ data.chart_data|safe }}'>
              </canvas>
            </div>
            <div class="username-overlay">
              {{ data.user_info.username }}
            </div>
          </div>
        </a>
        {% empty %}
        <p>No users found.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const chartCanvases = document.querySelectorAll(".user-pie-chart");

      chartCanvases.forEach(canvas => {
        const ctx = canvas.getContext('2d');
        const chartLabels = JSON.parse(canvas.dataset.labels);
        const chartData = JSON.parse(canvas.dataset.data);
        const hasData = chartData.some(item => item > 0);
        
        if (hasData) {
            new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: chartLabels,
              datasets: [{
                data: chartData,
                backgroundColor: [
                  '#55EE74',
                  '#085E19',
                  '#34A64B',
                  '#B6EBC0',
                ],
                borderWidth: 0,
              }]
            },
            options: {
              cutout: '75%',
              plugins: {
                legend: {
                  display: false
                },
                tooltip: {
                  enabled: true
                }
              },
              responsive: true,
              maintainAspectRatio: false
            }
          });
        } else {
          const container = canvas.parentElement;
          const noDataText = document.createElement('div');
          noDataText.innerText = 'No login data';
          noDataText.classList.add('no-data-text');
          container.appendChild(noDataText);
          canvas.remove();
        }
      });
    });
  </script>
{% endblock %}

